@media only screen 
  and (min-device-width: 500px) 
  and (max-device-width: 600px){
    .mynav {
        margin-left: 0%;
        margin-right: 0%;
    }
}

.mynav {
    margin-left: 20%;
    margin-right: 20%;
}